<div id="respond" class="comment__form">
  <h2 class="title">
    <span id="comment-heading-text">Leave a comment</span>
    <button type="button" class="btn" id="cancel-comment-reply-link" style="display:none;">
      Cancel reply
    </button>
  </h2>

  <div class="js-notice hidden">
    <p class="js-notice-text"></p>
  </div>

  <form id="comment-form" method="POST" action="https://staticman-traveling.fly.dev/v2/entry/vddesai-97/vddesai-97.github.io/main/comments">

    <!-- REQUIRED FIELDS -->
    <div class="form__group">
      <label for="comment-form-name">Name
        <input type="text" id="comment-form-name" name="fields[name]" required spellcheck="false" placeholder="Your name">
      </label>
    </div>

    <div class="form__group">
      <label for="comment-form-message">Comment
        <textarea type="text" rows="6" id="comment-form-message" name="fields[message]" required spellcheck="true" placeholder="Your message"></textarea>
      </label>
    </div>
    
    <!-- REQUIRED OPTIONS -->
    <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}#comments">
    <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ page.slug | default: page.url | slugify }}">
    
    <!-- RECAPTCHA -->
    <div class="g-recaptcha" data-sitekey="{{ site.reCaptcha.siteKey }}" data-callback="verifyCaptcha"></div>

    <button type="submit" class="btn" disabled aria-disabled="true">
      Submit comment
    </button>
  </form>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
