<article id="comment-{{ include.id }}"
         class="comment {% unless include.parent == include.id %}child{% endunless %}">

  <div class="comment__meta">
    <strong>{{ include.name | strip_html }}</strong>
    {% if include.date %}
      on <time datetime="{{ include.date | date_to_xmlschema }}">
        {{ include.date | date: "%B %-d, %Y" }}
      </time>
    {% endif %}
  </div>

  <div class="comment__message">
    {{ include.message | markdownify }}
  </div>

  <div class="comment__reply">
    <a href="#respond"
       rel="nofollow"
       onclick="return addComment.moveForm(
         'comment-{{ include.id }}',
         '{{ include.id }}',
         'respond',
         '{{ include.comment_slug }}'
       )">
      ↩ Reply
    </a>
  </div>
</article>

{% for reply in include.replies %}
  {% include comment.html
    id=reply[1]._id
    parent=reply[1]._parent
    name=reply[1].name
    date=reply[1].date
    message=reply[1].message
    replies=nil
    comment_slug=include.comment_slug %}
{% endfor %}
