{% assign comment_slug = page.path | slugify %}

{% if site.data.comments[comment_slug] %}
  <div id="comments" class="page__comments js-comments">
    {% assign comments = site.data.comments[comment_slug]
      | sort
      | where_exp: "c", "c[1]._parent == c[1]._id" %}

    {% if comments.size > 0 %}
      <h2 class="title">
        {{ comments.size }} comment{% if comments.size > 1 %}s{% endif %}
      </h2>
    {% endif %}

    {% for comment in comments %}
      {% assign id      = comment[1]._id %}
      {% assign parent  = comment[1]._parent %}
      {% assign name    = comment[1].name %}
      {% assign date    = comment[1].date %}
      {% assign message = comment[1].message %}

      {% assign replies = site.data.comments[comment_slug]
        | sort
        | where_exp: "c", "c[1]._parent == id"
        | where_exp: "c", "c[1]._id != id" %}

      {% include comment.html
        id=id
        parent=parent
        name=name
        date=date
        message=message
        replies=replies
        comment_slug=comment_slug %}
    {% endfor %}
  </div>
{% endif %}

{% include comment-form.html comment_slug=comment_slug %}
