<div id="respond" class="comment__form">
  <h2 class="title">
    <span id="comment-heading-text">Leave a comment</span>
    <button id="cancel-comment-reply-link" style="display:none">Cancel reply</button>
  </h2>

  <div class="js-notice hidden">
    <div class="js-notice-text"></div>
  </div>

  <form
    id="comment-form"
    method="post"
    action="https://staticman-traveling.fly.dev/v2/entry/vddesai-97/vddesai-97.github.io/main/comments">

    <input type="hidden" name="options[slug]" value="{{ include.comment_slug }}">
    <input type="hidden" name="options[parent]" id="comment-replying-to" value="">
    <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}#comments">

    <label>
      Name
      <input type="text" name="fields[name]" required>
    </label>

    <label>
      Comment
      <textarea name="fields[message]" rows="6" required></textarea>
    </label>

    <div
      class="g-recaptcha"
      data-sitekey="{{ site.reCaptcha.siteKey }}"
      data-callback="verifyCaptcha">
    </div>

    <button type="submit" id="comment-form-submit" disabled aria-disabled="true">
      Submit comment
    </button>
  </form>
</div>

<script async src="https://www.google.com/recaptcha/api.js"></script>
