<article id="comment{% unless include.r %}{{ id | prepend: '-' }}{% else %}{{ include.id | prepend: '-' }}{% endunless %}" class="js-comment comment {% unless include.parent == include.id %}child{% endunless %}">
  {% assign comment_slug = page.slug | default: page.url | slugify %}
  <div class="comment__main">
    <div class="comment__meta">
      <strong class="h-card">{{ include.name | strip_html }}</strong>
      {% if include.date %}
        on
        <time datetime="{{ include.date | date_to_xmlschema }}">{{ include.date | date: "%B %-d, %Y" }}</time>
      {% endif %}
    </div>
    <div class="comment__message">
      {{ include.message | markdownify }}
    </div>
  </div>
</article>