<footer>
    <div class="container">
      <div class="footer-content">
        <div class="footer-content__left-group">
          <h2 class="footer-content__site-name">{{ site.title }}</h2>
          <p>Vrinda and Clark, 2025</p>
        </div>
        <div class="footer-content__right-group">
          <div class="newsletter-form">
            <h2 class="newsletter-form__form-title">Sign up for our newsletter</h2>
            <div class="input-wrapper">
              <input type="text" placeholder="Enter your email">
              <a>
                <img class="submit-arrow" src="/images/arrow-white.svg">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
