/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  /* default */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-width: 0;
  border: 1px solid $button-color;
  background: $button-text;
  &:visited {
    background: $muted-text-color;
  }

  &:hover,
  &:focus {
    opacity: 1 !important;
  }

  /* fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* disabled */
  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
  }

}