/* ==========================================================================
   BUTTONS
   ========================================================================== */
.btn {
  background: $button-color;
  background: -moz-linear-gradient(top, $button-color 0%, #820011 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, $button-color 0%, #820011 100%);
  background: -o-linear-gradient(top, $button-color 0%, #820011 100%);
  background: -ms-linear-gradient(top, $button-color 0%, #820011 100%);
  background: linear-gradient(to top, $button-color 0%, #820011 100%);
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: inset 0px 1px 1px 0 $button-text;
  box-shadow: inset 0px 1px 1px 0 $button-text;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: .5em 1em;
  text-align: center;
  font-size: medium;
}

// .btn:active,[type=submit]:active {
//   -webkit-transform: scale(.95);
//   transform: scale(.95)
// }

.btn {
  // /* default */
  // display: inline-block;
  // margin-bottom: 0.25em;
  // padding: 0.5em 1em;
  // font-weight: bold;
  // text-align: center;
  // text-decoration: none;
  // border-width: 0;
  // border: 1px solid $button-color;
  // background: $button-text;
  &:visited {
    background: $muted-text-color;
  }

  &:hover {
  background: #C3001D;
  background: -moz-linear-gradient(top, #C3001D 0%, #950119 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #C3001D 0%, #950119 100%);
  background: -o-linear-gradient(top, #C3001D 0%, #950119 100%);
  background: -ms-linear-gradient(top, #C3001D 0%, #950119 100%);
  background: linear-gradient(to top, #C3001D 0%, #950119 100%);
  color: #fff;
  }

  &:focus {
    opacity: 1 !important;
  }

  /* fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* disabled */
  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
  } 
}