$brand-color:         #ffc663;
$highlight:           #bf6430; 
$button-color:        #AF0011; // #A63737;
$button-text:         #D9725B;
$text-color:          #51251e;
$muted-text-color:    #bf6430;
$article-color:       #f7ede1;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;