$brand-color:         #db9f87;
$highlight:           #8eacc5; ####lighten($brand-color, 35%);
$text-color:          #8f4135;
$muted-text-color:    #bf6447;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;