$brand-color:         #ffc663;
$highlight:           #7a7ad8; 
$text-color:          #51251e;
$muted-text-color:    #7a7ad8;
$article-color:       #f7ede1;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;