---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$asset_url: '{{ '/assets' | absolute_url }}';

@use 'sass:color';

@import
  "reset",
  "variables",
  "syntax-highlighting",
  "mixins",
  "font",
  "base",
  "masthead",
  "menu",
  "post-list",
  "article",
  "footnotes",
  "search"
;

.google-maps {
    position: relative;
    padding-bottom: 120%; // (450 รท 500 = 0.9 = 90%)
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
